
.wrapperFooter {
    background-color: white;
    display: flex;
    justify-content: center;

    & .logo {
        height: 80px;
        margin: 30px 15px;
        transition: 0.3s;
        cursor: pointer;
        
    }

    & .logo:hover {
        height: 110px;
        margin: 30px 15px;
        
    }

    .footer {
        // background-color: aqua;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;


        & .chooseFooter {
            // background-color: bisque;
            font-size: 19px;
            display: flex;
            justify-content: center;
            height: 80px;
            align-items: center;
            margin: 5px 20px;

            & p{
                transition: 0.3s;
                cursor: pointer;
            }

            &  p:hover {
                font-size: 20px;

            }
        }

        & .aboutMe {
            font-size: 18px;
            text-align: center;
        }

        & .contact {
            // background-color: aquamarine;
            height: 80px;
            margin: 10px 25px;
            font-size: 20px;

            & i {
                font-size: 38px;
                transition: 0.3s;
                cursor: pointer;
            }

            &  i:hover {
                font-size: 43px;
            }

            & .icon {
                margin-bottom: 5px;
                height: 45px;
            }

            &  .copyRight {
                text-align: start;
            }
        }
    }
}

@media screen and (min-width: 100px) and (max-width: 1200px) {
    .chooseFooter p{
        font-size: 15px;
    }
    .wrapperFooter {
        flex-wrap: wrap;
        justify-content: left;
        & .footer {
            & .chooseFooter {
                margin: 0;
                height: 40px;
            }

            & .aboutMe {
                font-size: 15px;
            }

            & .contact {
                .icon .fa-i {
                    font-size: 20px;
                }

                .copyRight {
                    font-size: 17px;
                }
            }
        }
    }
}